.header-details{
    display: flex;
    align-items: center;
    height: 600px;
    width: 100vw;
    border-radius: 0px;
    background: #2D0C5E;
    color: #fff
}


.image{
    height: 574px;
    width: 383px;
    margin-left: 112px;
    margin-top: 72px;
    border-radius: 8px;
}

.info{
    margin-left: 20px;
    max-width: 60%;
 
}

.info-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    margin-bottom: 20px;
}

.info-details-tw{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

// img{
//     width: 100%;
//     height: 100%;
// }

progress {
    display:block;
    -webkit-appearance: none;
}

progress::-webkit-progress-bar {
    background: black;
    border-radius: 50px;
    padding: 2px;
}
progress::-moz-progress-bar {  
    background: black;
    border-radius: 50px;
    padding: 2px;
}

progress::-webkit-progress-value {
    border-radius: 50px;
    background: #14FF00;
    
}